[Unit]
Description=GarageVision

[Service]
ExecStart=/usr/bin/python /home/pi/scripts/garagemaster/garagevision/vision.py /home/pi/scripts/garagemaster/stream/image_ai.jpg
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/scripts/garagemaster

[Install]
WantedBy=multi-user.target