[Unit]
Description=RGPi

[Service]
ExecStart=/usr/local/bin/node /home/pi/scripts/rpgi/bin/www
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/scripts/rpgi

[Install]
WantedBy=multi-user.target